@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row g-5">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                Inland Lake Marina
            </li>
            <li class="list-group-item">
                Box 123
            </li>
            <li class="list-group-item">
                Inland Lake, Arizona 86038
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">Manager: Glenn Cooke</li>
            <li class="list-group-item">Slip Manager: Kimberley Carson</li>
            <li class="list-group-item">Contact email: info@inlandmarina.com</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">(office phone) 928-555-2234</li>
            <li class="list-group-item">(leasing phone) 928-555-2235</li>
            <li class="list-group-item">(fax) 928-555-2236</li>
        </ul>
    </div>
</div>

<div class="d-grid gap-5 d-sm-flex justify-content-sm-center mt-5">
    <button type="button" class="btn btn-primary btn-lg px-4">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
    </button>
</div>

